@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-ins;
  }
}

.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select from computer';
  color: white;
  display: inline-block;
  background: rgb(25, 126, 227);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 1rem;
  cursor: pointer;
  font-weight: 700;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* loader */

.loader,
.loader::after {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  position: relative;
  z-index: 1;
  animation: ani 10s linear infinite;
  background-size: 500%;
}

.loader::after {
  content: "";
  filter: blur(400px);
  display: block;
  position: relative;
  z-index: -1;
  animation: ani 10s linear infinite;
  background-size: 500%;
}

@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500% 0;
  }
}

.loader::before {
  content: "";
  width: 80px;
  height: 80px;
  background: var(--bg-color);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
